<% provide(:title, @thematique.titre) %>
<h1><%= @thematique.titre %></h1>
<p><%= @thematique.description %></p>

<div class="vertical-cards">
  <% @sous_thematiques.each do |sous_thematique| %>
    <%= link_to thematique_sous_thematique_path(sous_thematique.thematique, sous_thematique), class: "political-card" do %>
      <div class="card-image">
        <% if sous_thematique.photo.attached? %>
          <%= cl_image_tag sous_thematique.photo.key, class: "zoom", size: "180x180", crop: "pad", gravity: "center" %>
        <% end %>
      </div>
      <div class="card-information">
        <h5><%= sous_thematique.titre %></h5>
      </div>
    <% end %>
  <% end %>
</div>
