<% provide(:title, @avis_thematique.thematique.titre) %>
<div class="custom-wrapper avis_thematique">

  <div>
    <% if @avis_thematique.thematique.photo.attached? %>
      <%= cl_image_tag @avis_thematique.thematique.photo.key, size: "180x180", crop: "pad", gravity: "center" %>
    <% end %>
    <h1><%= @avis_thematique.thematique.titre %></h1>
  </div>

  <% if !@avis_thematique.rich_opinion_majoritaire.blank? %>
    <p><%= @avis_thematique.rich_opinion_majoritaire %></p>
  <% else %>
    <p>Pas de remarques à ce sujet.</p>
  <% end %>

  <p><%= @avis_thematique.rich_divergences %></p>

  <%# unless @avis_thematique.rich_liens.length == 0 %>
      <p><%= @avis_thematique.rich_liens %></p>
  <%# end %>

</div>
