<% provide(:title, 'Partis Politiques') %>
<h1>Partis Politiques</h1>

<p class="page-explanation">Quel parti recherchez-vous ?</p>

<%= form_tag(partis_search_path, method: "get", class: "search-form") do %>
  <div>
    <%= select_tag :search, options_from_collection_for_select(@partis, :id, :nom, params[:search]), class: 'select2' %>
  </div>
  <div>
    <%= submit_tag("Rechercher", class: "custom-search-button") %>
  </div>
<% end %>

<div class="vertical-cards">
  <% @partis.each do |parti| %>
    <% unless parti.nom == "Indépendant" %>
      <%= link_to parti_path(parti), class: "political-card" do %>
          <div class="card-image">
            <% if parti.photo.attached? %>
              <%= cl_image_tag parti.photo.key, class: "zoom", size: "200x200", crop: "pad", gravity: "center" %>
            <% end %>
          </div>
          <div class="card-information">
            <h5><%= parti.nom %></h5>
          </div>
      <% end %>
    <% end %>
  <% end %>
</div>
