<div class="navbar">
  <%#= link_to root_path, id: "icon" do %>
    <%#= image_tag "drapeau_francais.jpg" %>
  <%# end %>
  <div class="pc-links">
    <div>
      <%= link_to "Partis Politiques", partis_path %>
    </div>
    <div>
      <%= link_to "Thématiques", thematiques_path %>
    </div>
    <div>
      <%= link_to "Personnalités Politiques", personnalites_path %>
    </div>
    <div>
      <%= link_to "Pour aller plus loin...", pour_aller_plus_loin_path %>
    </div>
    <div>
      <%= link_to "Qui sommes-nous ?", qui_sommes_nous_path %>
    </div>
  </div>
  <div id="dropdown">
    <i class="fas fa-align-justify" style="font-size: 2rem"></i>
  </div>
  <div class="smodal">
    <div class="modal-content">
      <div class="close">
        +
      </div>
      <div class="links">
      <%= link_to "Partis Politiques", partis_path %>
      <%= link_to "Thématiques", thematiques_path %>
      <%= link_to "Personnalités Politiques", personnalites_path %>
      <%= link_to "Pour aller plus loin...", pour_aller_plus_loin_path %>
      <%= link_to "Qui sommes-nous ?", qui_sommes_nous_path %>
      </div>
    </div>
  </div>
</div>
