<% provide(:title, @sous_thematique.titre) %>
<h1><%= @sous_thematique.titre %></h1>


<%= form_tag("/thematiques/#{@sous_thematique.thematique.id}/sous_thematiques/#{@sous_thematique.id}", method: "get", cache: false, class: "search-form") do %>
  <div>
    <%= select_tag :search, options_from_collection_for_select(@partis, :id, :nom, params[:search]), multiple: true, value: params[:search], class: 'multi' %>
  </div>
  <div>
    <%= submit_tag("Search", class: "custom-search-button") %>
  </div>
<% end %>

<%# if !params[:search].nil? %>
  <div class="cards-horizontal">
    <% @avis_sous_thematiques.each do |avis_sous_thematique| %>
      <div class="political-card-horizontal" >
        <div class="card-image-political">
          <% if avis_sous_thematique.parti.photo.attached? %>
            <%= cl_image_tag avis_sous_thematique.parti.photo.key, class: "zoom", size: "200x200", crop: "pad", gravity: "center" %>
          <% else %>
            <%= avis_sous_thematique.parti.nom %>
          <% end %>
        </div>
        <div class="card-information-horizontal">
          <p><%= avis_sous_thematique.avis %></p>
        </div>
      </div>
    <% end %>
  </div>
<%# end %>
