<% provide(:title, 'Personnalités Politiques') %>
<h1>Personnalités Politiques</h1>
<p class="page-explanation">Vous cherchez les avis des personnalités d'un parti donné?</p>

<%= form_tag("/personnalites", method: "get", class: "search-form") do %>
  <div>
    <%= select_tag :search, options_from_collection_for_select(@partis, :id, :nom, params[:search]), class: 'select2' %>
  </div>
  <div>
    <%= submit_tag("Rechercher", class: "custom-search-button") %>
  </div>
<% end %>

<%# if !params[:search].nil? %>
  <div class="vertical-cards">
    <% @personnalites.each do |personnalite| %>
      <%= link_to personnalite_path(personnalite), class: "political-card card-personnalite" do %>
          <div class="card-image">
            <%= cl_image_tag personnalite.parti.photo.key, class: "zoom", size: "200x200", crop: "pad", gravity: "center" %>
          </div>
          <div class="card-information-personnalite">
            <h5><%= personnalite.nom %></h5>
            <h6>(<%= personnalite.lien %>)</h6>
            <p><%= personnalite.poste %></p>
          </div>
      <% end %>
    <% end %>
  </div>
<%# end %>
